---
title: "Gallery"
layout: page
permalink: /en/gallery/
image-hero: /assets/images/slideshow/synedria.jpg
tag: gallery
---

<div class="wrapper">
	<div class="section-title editable nolink" id="synedria">Conferences</div>
	<div class="content">
		{% include images-block-photoswipe.html path="synedria/synedria" name="synedria" %}
	</div>
</div>


<div class="wrapper">
	<div class="section-title editable nolink" id="afises">Conferences Posters</div>
	<div class="content">
		{% include images-block-photoswipe.html path="synedria/afises" name="afises" %}
	</div>
</div>

<div class="wrapper">
	<div class="section-title editable nolink" id="iatrikos-elegxos">Athletes Screening</div>
	<div class="content">
		{% include images-block-photoswipe.html path="iatrikos-elegxos" name="iatrikos-elegxos" %}
	</div>
</div>

<div class="wrapper">
	<div class="section-title editable nolink" id="asthenon">Rehabilitation</div>
	<div class="content">
		{% include images-block-photoswipe.html path="asthenon" name="asthenon" %}
	</div>
</div>