{{ define "main" }}

<iframe src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=143qDyQxWEGhZ58ZTHfMaidCz77EF-kh15B7qnYbRCpk&font=Default&lang=el&initial_zoom=2&height=650" width="100%" height="634px" frameborder="0"></iframe>
                                


<section class="container mx-auto  mb-16">
     <div class="prose text-5xl font-bold  drop-shadow-sm p-8 pb-16"> History </div>
    <div class="prose mx-auto  drop-shadow-sm ">
{{ with .Site.GetPage "/lab/history.md" }}
    {{ .Summary }}
    {{ if .Truncated }}
      <a href="{{ .RelPermalink }}">Read More ...</a>
    {{ end }}
{{ end }}
</div>
</section>

{{/*  PROSOPIKO  */}}
<section class="container mx-auto  mb-16">
    <div class="prose text-5xl font-bold  drop-shadow-sm p-8 pb-16">Teaching Staff</div>
    <ul class="grid grid-cols-3 gap-x-8  gap-y-12 px-8 pb-8 ">           
        {{ range  (where  .Site.RegularPages "Section" "staff_members").ByParam "order"  }}
            {{ if eq .Language .Page.Language }}
            <li class="grid grid-cols-3 gap-4 border border-gray-200 rounded-lg shadow-md place-items-center bg-white">
                <div class="col-span-1">
                {{ $image := string .Params.image}}
                {{ with .Resources.GetMatch $image }}
                    {{ with .Fill "150x150" }}
                        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                {{ end }}

                </div>
                <div class="col-span-2 ">
                    <div class="p-2">
                    <div class="font-bold text-2xl"><a href="{{ .RelPermalink }}">{{.Params.name}}</a></div>
                    <div class="prose text-sm">{{ .Params.position | markdownify }}</div>
                    </div>
                </div>
            </li>
            {{ end }}
        {{ end }}
    </ul>
        </div>
</section>


<section class="container mx-auto  mb-16">
    <div class="prose mx-auto  drop-shadow-sm ">
{{ with .Site.GetPage "/lab/exoplismos.md" }}{{ .Content }}{{ end }}
</div>

{{/*  Gallery  */}}
<div id="gallery" class="flex flex-wrap pswp-gallery justify-center gap-2">
{{ range .Resources.Match "lab*" }}
{{ $thumbnail := .Resize "320x" }}

<a href="{{ .Permalink }}" 
class="border-2 shadow-md border-white "
data-pswp-width="{{ .Width }}" 
data-pswp-height="{{ .Height }}" 
target="_blank"
>
<img src="{{ $thumbnail.Permalink }}" />
</a>
{{ end }}
</div>


</section>


    
{{ end }}