{{ define "main" }}

<iframe src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=143qDyQxWEGhZ58ZTHfMaidCz77EF-kh15B7qnYbRCpk&font=Default&lang=el&initial_zoom=2&height=650" width="100%" height="634px" frameborder="0"></iframe>
                                

<section class="container mx-auto  mb-16">
     <div class="prose text-5xl font-bold  drop-shadow-sm p-8 pb-16"> Ιστορικό </div>
    <div class="prose prose-xl mx-auto  drop-shadow-sm ">
{{ with .Site.GetPage "/lab/historyv2.md" }}
    {{ .Summary }}
    {{ if .Truncated }}
      <a href="{{ .RelPermalink }}">Read More ...</a>
    {{ end }}
{{ end }}
</div>
</section>

{{/*  PROSOPIKO  */}}
<section class="container mx-auto  md:mb-16">
    <div class="prose text-5xl font-bold  drop-shadow-sm p-8 pb-16"> Διδακτικό Προσωπικό </div>
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-x-8  md:gap-y-12 px-8 pb-8 ">       
        {{ range  (where  .Site.RegularPages "Section" "staff_members").ByParam "order"  }}
            {{ if eq .Language .Page.Language }}
            <li class="grid grid-cols-3 gap-4 border border-gray-200 rounded-lg shadow-md place-items-center bg-white">
                <div class="col-span-1">
                {{ $image := string .Params.image}}
                {{ with .Resources.GetMatch $image }}
                    {{ with .Fill "150x150" }}
                        <img class="rounded-l-md" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                {{ end }}

                </div>
                <div class="col-span-2 ">
                    <div class="p-2">
                    <div class="font-bold text-xl"><a href="{{ .RelPermalink }}">{{.Params.name}}</a></div>
                    <div class="prose text-sm">{{ .Params.position | markdownify }}</div>

                    </div>
                </div>
            </li>
            {{ end }}
        {{ end }}
    </ul>
        </div>
</section>



<section class="container mx-auto  mb-16">
    <div class="prose prose-xl mx-auto  drop-shadow-sm ">
{{ with .Site.GetPage "/lab/exoplismos.md" }}{{ .Content }}{{ end }}


    {{ range .Resources.Match "lab*" }}
    {{ $thumbnail := .Resize "320x" }}
    <figure itemscope itemtype="http://schema.org/ImageObject" class="image gallery-item">
    <a href="{{ .Permalink }}" itemprop="contentUrl" data-size="{{ .Width }}x{{ .Height }}" >
      <img src="{{ $thumbnail.Permalink }}" itemprop="thumbnail" alt="galleryImage" class="galleryImage" />
    </a>
    <figcaption itemprop="caption description">
      <span itemprop="copyrightHolder"></span>
    </figcaption>
    </figure> 
    {{ end }}

 



</div>
</section>


    
{{ end }}