<header class="w-full py-2 shadow-md border-t-4 border-red-500 z-10  bg-white    {{ if eq .Kind  "home" }} hover:bg-gray-200 hover:opacity-80 absolute top-0 {{ end}}"
            {{ if eq .Kind  "home" }}
            style="@media only screen and (min-width: 768px) { height: 23vh; }"
            {{ end }}
        >


<div class="flex container mx-auto  justify-between items-center ">

        <div class="logo-image border-r ">
            <a class=" flex items-center flex-wrap justify-between"  href="/{{.Language.Lang}}">
                <img class="w-40 h-full" src="/images/logo/logo_with_letters_{{.Language.Lang}}.png">
            </a>
        </div>
               
        <nav class="flex container mx-auto justify-around mx-auto py-2 ">

        {{ range ((index .Site.Data .Language.Lang).navigation)}}
            <a  class="px-4 text-lg
                        {{with .Site.Home}}
                        drop-shadow-lg
                        {{ end }}
                        hover:text-red-600 font-bold" 
                href="{{.link}}">{{ .name }}</a>
        {{ end }}

        {{/*    */}}
        {{/*  LANGUAGES  */}}
        {{/*    */}}
        {{ if .Page.IsTranslated }}
            <ul>
            {{ range .Translations }}
            <li>
                <a href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a>
            </li>
            {{ end }}
            </ul>
        {{ end }}

        </nav>

        <div class="auth border-l pl-2">
            <a class=" flex items-center flex-wrap justify-start" href="https://www.phed.auth.gr/">
                <img class="w-40" src="/images/logo/new-color-teffa-auth-web-{{.Language.Lang}}.png">
            </a></div>

</div>



</header>

{{ if eq .Kind  "home" }}
{{ partial "hero.html" . }}
{{else}}

{{ end }}


