<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1">
<meta name="env" content="{{ partial "huge/env/Get" "Get" }}">

{{/* Styles */}}
{{ partial "huge/styles/tags" "main" }}

{{/* Scripts */}}


{{/* SEO */}}
{{ partial "huge/seo/tags" $ }}
{{/* Fonts */}}
{{ partial "huge/fonts/tags" "fonts" }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe.min.css" integrity="sha512-TdCx5ObKpq3+lwUdiXFgFLhqwTB98YsdaQWSJrwkOz084qaeO86+NMYfU/pnpPo1pDVah0a7yvFmbcvI8ZiGAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe.esm.min.js" integrity="sha512-YhpTZsEw3/p0hDjEmlIv2gACla/ScS+z2UXHMS3DCWpLw3JCYPf9zFWgcbtQZYLduSpjlxNGAi2SbBKTvSUXTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe-lightbox.esm.min.js" integrity="sha512-BSWjxbwxteqrvkMPgWQrDNYiz1D4htzpxDgwrzgOf2T4AvUrgXHxCbI5DNaNNHit8qLwEgbDNXtztz+btTa3tQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>