<header class="w-full  md:pb-6 lg:pb-6 pt-2 z-10      {{ if eq .Kind  "home" }}       absolute top-0{{ end}}"
            {{ if eq .Kind  "home" }}

            style="@media only screen and (min-width: 768px) { height: 23vh; }"
            {{ end }}
        >


<div class="flex container mx-auto  pb-8 justify-between items-center ">

        <div class="logo-image">
            <a class=" flex items-center flex-wrap justify-between"  href="/">
                <img class="w-full h-full"src="/images/logo/logo_with_letters.png">
            </a>
        </div>
               

        <div class="auth">
            <a class=" flex items-center flex-wrap justify-start" href="https://www.phed.auth.gr/">
                <img class="w-42" src="/images/logo/new-color-teffa-auth-web.png">
            </a></div>

</div>

{{ partial "navigation.html" . }}

</header>

{{ if eq .Kind  "home" }}
{{ partial "hero.html" . }}
{{else}}
{{ partial "hero_static.html" . }}
{{ end }}


