<div class="hero  w-full">


        <div class="swiper-slide flex-col flex">

        {{ range first 1 (where .Site.RegularPages.ByTitle "Section" "slideshow" ) }}
            {{ partial "image_scrset.html" . }}
            <div class="px-4 md:absolute md:inset-y-1/2 md:ml-8 bg-white">
                <div class="w-full md:px-8 py-8   
                            md:block md:bg-white">
                    <div class="text-lg font-bold">{{ .Params.lab }}</div>
                    <div class="bold text-2xl font-bold my-2">{{ .Title }}</div>
                    <p class="text-sm mb-4">{{ .Params.description }}</p>
                    <a
                    class="bg-black px-6 py-2 text-white w-24 mb-2"
                    href="{{ .Params.paper_link }}">
                    See the Latest Article
                    </a>
                </div>
            </div>
        {{ end }}
</div>

