{{ with .Params.image }}
{{ $original := ($.Site.GetPage "section" "slideshow").Resources.GetMatch (string . ) }}
{{ $image295w := $original.Fill "600x295 TopLeft" }}
{{ $image394w := $original.Fill "600x400 TopLeft" }}
{{ $image590w := $original.Fill "1200x600 TopLeft" }}




<img
alt="{{ $original }}"
data-sizes="auto"
data-srcset="        
{{ $image295w.RelPermalink }}  295w,
{{ $image394w.RelPermalink }}  394w,
{{ $image590w.RelPermalink }}  590w,


"
data-src="{{ $image590w.RelPermalink }}"
class="lazyload" />

<!-- noscript pattern -->
<noscript>
<img src="{{ $image590w.RelPermalink }}" />
</noscript>


{{ end }}   