<nav class="flex container mx-auto justify-around mx-auto py-2 ">

{{ range ((index .Site.Data .Language.Lang).navigation)}}

            <a class="px-4 text-xl 
            {{with .Site.Home}}
            drop-shadow-lg
            {{ end }}
             hover:text-red-600 font-bold" href="{{.link}}">{{ .name }}</a>
{{ end }}

{{/*    */}}
{{/*  LANGUAGES  */}}
{{/*    */}}
{{ if .Page.IsTranslated }}
    <ul>
    {{ range .Translations }}
    <li>
        <a href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a>
    </li>
    {{ end }}
    </ul>
{{ end }}

</nav>


