{{ define "main" }}


{{/*  εργαστηριο  */}}
<div class="container mx-auto  ">
    <div class="border flex flex-wrap  justify-between shadow-md rounded-md mb-16 items-center">   
    {{ with .Site.GetPage "/lab" }}
    {{ $image := .Resources.GetMatch "ergastirio-outdoor-backside.jpg"}}
    {{ $image := $image.Fill "800x600" }}
    {{ $image := $image.Filter (images.Sepia 15) }}
    <div class="flex  items-center">
        <img class="drop-shadow-lg rounded-sm" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
        <div class="px-8">
            <div class="prose text-5xl font-bold py-2 drop-shadow-sm">Εργαστήριο Αθλητιατρικής</div>
            <div class="prose text-3xl font-bold py-2">35 χρόνια παρουσίας στην Θεσ/νίκη</div>
            <div class="prose">
            <a href="{{ .RelPermalink}}">Η ιστορία του Εργαστηρίου</a>
            </div>
        </div>
    </div>
    {{ end }}
</div> 
</div>

{{/*  ΠΡΟΓΡΑΜΜΑΤΑ  */}}
<div class="container mx-auto ">
    <div class="prose text-5xl font-bold  drop-shadow-sm p-8 pb-16 w-full">Προγράμματα</div>
    <div class="grid grid-cols-2 gap-4 ">

    {{/*  MYWAY  */}}
    <div class="border flex flex-wrap  justify-center py-8 bg-gray-100 shadow-md rounded-md mb-16">
    {{ with .Site.GetPage "/myway" }}
    {{ $image := .Resources.GetMatch "myway.png"}}
    {{ $image := $image.Resize "150x" }}
    <a class="w-full flex justify-center p-4" href="{{ .RelPermalink}}">
        <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
    </a>
    <p class="prose">{{ .Params.description | markdownify}}</p>
    <div class="w-full prose"><a href="{{ .RelPermalink}}">Περισσότερα</a></div>
    {{ end }}
    </div>

{{/*  SWEATY HEARTS  */}}
    <div class="border flex flex-wrap  justify-center py-8 bg-red-700 shadow-md rounded-md mb-16">
    {{ with .Site.GetPage "/sweatyhearts" }}
    {{ $image := .Resources.GetMatch "sweaty-logo.png"}}
    {{ $image := $image.Resize "150x" }}
    <a class="w-full flex justify-center p-4" href="{{ .RelPermalink}}">
        <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
    </a>
    <h2 class=" font-bold uppercase text-6xl  text-white w-full prose text-center "  >{{ .Params.title }}</h2>
    <p class="prose w-full text-white">{{ .Params.description | markdownify}}</p>
    <div class="prose w-full prose-a:text-white "><a class="" href="{{ .RelPermalink}}">Περισσότερα</a></div>
    {{ end }}
    </div>

</div>
</div>



{{/*  PROSOPIKO  */}}
<section class="container mx-auto  mb-16">
    <div class="prose text-5xl font-bold  drop-shadow-sm p-8 pb-16"> Διδακτικό Προσωπικό </div>
    <ul class="grid grid-cols-3 gap-x-8  gap-y-12 px-8 pb-8 ">           
        {{ range (where  .Site.RegularPages "Section" "staff_members")  }}
            {{ if eq .Language .Page.Language }}
            <li class="flex flex-1 shadow-md rounded-md mb-4 bg-gray-100 items-center">
                <div class="w-64">
                {{ $image := string .Params.image}}
                {{ with .Resources.GetMatch $image }}
                    {{ with .Fill "150x150" }}
                        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                {{ end }}

                </div>
                <div class="px-4">
                    <div class="font-bold text-2xl"><a href="{{ .RelPermalink }}">{{.Params.name}}</a></div>
                    <div class="prose">{{ .Params.position | markdownify }}</div>
                </div>
            </li>
            {{ end }}
        {{ end }}
    </ul>
        </div>
</section>


{{/*  YPIRESIES  */}}
<div class="container mx-auto  flex flex-wrap  justify-center py-8 mb-16">
    <div class="prose text-5xl font-bold  drop-shadow-sm p-8 pb-16 w-full">Υπηρεσίες</div>
    <div class="grid grid-cols-2 gap-4 px-8">
        <div class=" border shadow-md rounded-md ">
            {{ with .Site.GetPage "/services" }}
                {{ $image := .Resources.GetMatch "ecg.jpg"}}
                {{ $image := $image.Fill "800x600" }}
                <img class="drop-shadow-lg rounded-sm mb-4" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
            {{ end }}
            <div class="px-4 py-8">
            {{ with .Site.GetPage "/services/check_health" }}

                <h2 class=" font-bold text-3xl w-full prose ">{{ .Params.title }}</h2>
                <div class="prose">
                    <p class="prose ">
                        Στα πλαίσια λειτουργίας του Ιατρείου Ελέγχου Υγείας Αθλητών 
                        προσφέρεται η δυνατότητα ιατρικού ελέγχου σε όλους τους αθλητές και αθλούμενους
                    </p>
                    <div class="prose ">
                        <a class="" href="{{ .RelPermalink}}">Περισσότερα</a>
                    </div>
                </div>
            {{ end }}
            </div>
        </div>
        <div class=" border shadow-md rounded-md ">
            {{ with .Site.GetPage "/services" }}
                {{ $image := .Resources.GetMatch "exercise.jpg"}}
                {{ $image := $image.Fill "800x600" }}
                <img class="drop-shadow-lg rounded-sm mb-4" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
            {{ end }}
            <div class="px-4 py-8">
            {{ with .Site.GetPage "/services/exercise_programs" }}            
                <h2 class=" font-bold text-3xl w-full prose ">{{ .Params.title }}</h2>
                <div class="prose">
                    <p class="prose ">
                        Η συνταγογραφία της άσκησης γίνεται με βάση το ιατρικό πρόβλημα του ασθενούς, 
                        τη λειτουργική επάρκειά του και τους στόχους του. 
                    </p>
                    <div class="prose ">
                        <a class="" href="{{ .RelPermalink}}">Περισσότερα</a>
                    </div>
                </div>
            {{ end }}
            </div>
        </div>
    </div>           
</div>

{{/*  CONTACT  */}}
    <div class="container mx-auto mb-16">
        <div class="prose text-5xl font-bold  drop-shadow-sm p-8 pb-16">Τηλέφωνα</div>
        <div class="grid grid-cols-3 gap-4">
            <div class="text-4xl font-bold text-center text-white border shadow-md rounded-md p-8 bg-red-600">2310-992184</div>
            <div class="text-4xl font-bold text-center text-white border shadow-md rounded-md p-8 bg-red-600">2310-992182</div>
            <div class="text-4xl font-bold text-center text-white border shadow-md rounded-md p-8 bg-red-600">2310-992188</div>
        </div>
    </div>



</div>

<div class="my-8 px-4 mx-auto prose">



    
{{ .Content }}








</div>
{{ end }}