{{ define "main" }}
    
<div class="container mx-auto mb-16 ">
    <div class="font-bold text-3xl pb-8 text-tahiti" id="awards">Collaborating Centers</div>
    <div class=" border rounded-md shadow-md bg-white">
        <ul class="grid grid-cols-2 gap-8 p-16">
        {{ range ((index .Site.Data .Language.Lang).synergazomena_kentra) }}
            <li class="">
                <a href="{{.link}}">
                <img src="/images/kentra/{{.image}}" alt="{{.center}}{{.department}}">
                </a>
            </li>
        {{end}}
        </ul>
    </div> 
     
</div>


<div class="container mx-auto mb-16">
    <div class="">
        <div class="font-bold text-3xl pb-8 text-tahiti" id="interests">Research Fields</div>
        <div class="list list publications">

    <!-- Editor Link -->


        <ul class="grid grid-cols-3 gap-8">
            {{ range ((index .Site.Data .Language.Lang).interests)}}
            
                <li class="border rounded-md shadow-md p-8 flex items-center bg-white ">
                    <div class="title text-xl text-tahiti">{{.title}}</div>
                </li>
            {{end}}
            </ul>
        </div>
    </div>
</div>

<div class="container mx-auto pb-16 grid grid-cols-2 gap-8">






<div class="border rounded-md shadow-md p-8 bg-white">
    <div class="font-bold text-2xl py-4 text-tahiti" id="science-projects">Research Programs</div>
    <div class="list publications">
    <ul>
        {{ range first 5 ((index .Site.Data .Language.Lang).research_programs) }}
         <li class="py-4">
                <div class="flex ">
                    <div class="names text-gray-500">{{.authority}}</div>
                </div>
                <div class="title font-bold text-xl py-1 text-tahiti">{{.title}}</div>
    		</li>
        {{end}}
        </ul>
    </div>
</div>


<div class="border rounded-md shadow-md p-8 bg-white">
<div class="font-bold text-2xl py-4 text-tahiti" id="awards">Awards</div>
<div class="list publications">


<ul>
{{ range first 5 ((index .Site.Data .Language.Lang).awards) }}
        <li class="py-4">
            <div class="flex ">
			<div class="year pr-4 text-gray-600 font-bold ">{{.year}}</div>
			<div class="names text-gray-500">{{.names}}</div>
            </div>
			<div class="title font-bold text-xl py-1 text-tahiti">{{.congress}}</div>

		</li>

    {{end}}
    </ul>
</div></div>






</div>
{{ end }}