{{ define "main" }}
    
<div class="container mx-auto mb-16 ">
    <div class="font-bold text-3xl pb-8 text-tahiti" id="awards">Συνεργαζόμενα κέντρα του εξωτερικού</div>
    <div class=" border rounded-md shadow-md bg-white">
        <ul class="grid grid-col1-1 md:grid-cols-2 gap-8 p-16">
        {{ range ((index .Site.Data .Language.Lang).synergazomena_kentra) }}
            <li class="">
                <a href="{{.link}}">
                <img src="/images/kentra/{{.image}}" alt="{{.center}}{{.department}}">
                </a>
            </li>
        {{end}}
        </ul>
    </div>  
</div>


<div class="container mx-auto mb-16">
    <div class="">
        <div class="font-bold text-3xl pb-8 text-tahiti" id="interests">Τομείς ερευνητικής δραστηριότητας</div>
        <div class="list list publications">

    <!-- Editor Link -->


        <ul class="grid grid-cols-2 md:grid-cols-3 gap-8">
            {{ range ((index .Site.Data .Language.Lang).interests)}}
            
                <li class="border rounded-md shadow-md p-8 flex items-center bg-white ">
                    <div class="title prose text-tahiti">{{.title}}</div>
                </li>
            {{end}}
            </ul>
        </div>
    </div>
</div>

<div class="container mx-auto pb-16 grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti" id="awards">Διδακτορικά</div>
        <div class="list publications">
            <ul>
                {{ range first 5 ((index .Site.Data .Language.Lang).phd) }}
                <li class="py-4">
                <div class="flex ">
                <div class="year pr-4 text-gray-600 font-bold ">{{.year}}</div>
                <div class="names text-gray-500">{{.name}}</div>
                </div>
                <div class="title font-bold text-xl py-1 text-tahiti">                    
                        {{ $title := .title }}
                        {{ $link := .link }}
                        {{ with .link }}
                            <a class="a:text-tahiti a:no-underline a:font-bold" href="{{.}}" target="_blank">{{$title}}</a>
                        {{ else }}
                            {{$title}}
                        {{ end }}
                    </div>
            </li>
                {{end}}
            </ul>
        </div>
        <div class="flex justify-end">
            <a class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700" href="phd">Περισσότερα</a>
        </div>
    </div>

    <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti" id="awards">Μεταπτυχιακά</div>
        <div class="list publications">
            <ul>
                {{ range first 5 ((index .Site.Data .Language.Lang).msc) }}
                <li class="py-4">
                    <div class="flex ">
                    <div class="year pr-4 text-gray-600 font-bold ">{{.year}}</div>
                    <div class="names text-gray-500">{{.name}}</div>
                    </div>
                    <div class="title font-bold text-xl py-1 text-tahiti">{{.title}}</div>
                </li>
                {{end}}
            </ul>
            
        </div>
        <div class="flex justify-end">
            <a class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700" href="msc">Περισσότερα</a>
        </div>
    
    </div>
</div>

{{/*  ΠΡΟΓΡΑΜΜΑΤΑ  */}}

<div class="container mx-auto ">
    <div class="prose text-5xl font-bold  drop-shadow-sm p-8 pb-16 w-full">Προγράμματα</div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
        {{/*  MYWAY  */}}
        <div class="border flex flex-wrap  justify-center py-8 bg-gray-100 shadow-md rounded-md mb-16">
        {{ with .Site.GetPage "/myway" }}
        {{ $image := .Resources.GetMatch "myway.png"}}
        {{ $image := $image.Resize "150x" }}
        <a class="w-full flex justify-center p-4" href="{{ .RelPermalink}}">
            <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
        </a>
        <p class="prose">{{ .Params.description | markdownify}}</p>
        <div class="w-full prose"><a href="{{ .RelPermalink}}">Περισσότερα</a></div>
        {{ end }}
        </div>

    {{/*  SWEATY HEARTS  */}}
        <div class="border flex flex-wrap  justify-center py-8 bg-red-700 shadow-md rounded-md mb-16">
        {{ with .Site.GetPage "/sweatyhearts" }}
        {{ $image := .Resources.GetMatch "sweaty-logo.png"}}
        {{ $image := $image.Resize "150x" }}
        <a class="w-full flex justify-center p-4" href="{{ .RelPermalink}}">
            <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
        </a>
        <h2 class=" font-bold uppercase text-6xl  text-white w-full prose text-center "  >{{ .Params.title }}</h2>
        <p class="prose w-full text-white">{{ .Params.description | markdownify}}</p>
        <div class="prose w-full prose-a:text-white "><a class="" href="{{ .RelPermalink}}">Περισσότερα</a></div>
        {{ end }}
        </div>
    </div>
</div>

{{ end }}