{{ define "main" }}
    
<div class="mx-auto prose prose-xl">
    <div class="font-bold text-2xl py-4 text-tahiti">{{.Title}}</div>
    <div class="list publications">
    <ul>

        {{ range (index (index .Site.Data .Language.Lang) (string .Params.dataContent))}}
         <li class="py-4">
                <div class="flex ">
                <div class="year pr-4 text-gray-600 font-bold ">{{.year}}</div>
                <div class="names text-gray-500">{{.name}}</div>
                </div>
                <div class="title font-bold text-xl py-1 text-tahiti">
                    {{ $title := .title }}
                    {{ $link := .link }}
                    {{ with .link }}
                        <a class="a:no-underline" href="{{.}}" target="_blank">{{$title}}</a>
                    {{ else }}
                        {{$title}}
                    {{ end }}
                </div>
    		</li>
        {{end}}
        </ul>
    </div>
</div>

{{ end }}