{{ define "main" }}
    
<div class="container mx-auto pb-16 grid grid-cols-2 gap-8">
    <div class=" border rounded-md shadow-md p-8 bg-white ">
<div class="font-bold text-2xl py-4 text-tahiti" id="books"><a href="/gr/books-all">Books</a></div>
<div class="list publications">



<ul>
{{ range ((index .Site.Data .Language.Lang).books) }}
		<li class="py-4">
			<div class="title font-bold text-xl text-tahiti">{{.title}}</div>
            <div class="flex flex-wrap ">
			<div class="names w-full">{{.names}}</div>
			<div class="names pr-2">{{.year}}</div>
			<div class="names">{{.publisher}}</div>
            </div>

		</li>
	{{ end }}
	</ul>
</div></div>


<div class=" border rounded-md shadow-md p-8 bg-white ">
    <div class="font-bold text-2xl py-4 text-tahiti"><a href="/gr/papers-all">Published Articles</a></div>
    <div class="list publications">



    <ul>
    {{ range first 9  ((index .Site.Data .Language.Lang).published_articles) }}
        <li class="py-4">
                        <div class="flex ">
            <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
            <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti">{{.title}}</div>
            <div class="names text-gray-500">{{.names}}</div>

        </li>
    {{ end }}
    </ul>

    </div>
</div>


<div class=" border rounded-md shadow-md p-8 bg-white ">
<div class="font-bold text-2xl py-4 text-tahiti"><a href="/gr/talks-all">Talks</a></div>
<div class="list publications">


<ul>
{{ range first 5 ((index .Site.Data .Language.Lang).talks) }}
<li class="py-4">
            <div class="flex ">
			<div class="year pr-4 text-gray-600 font-bold ">{{.year}}</div>
            <div class="names text-gray-500">{{.speaker}}</div>
			
            </div>
			<div class="title font-bold text-xl py-1 text-tahiti">{{.title}}</div>
			<div class="publisher text-gray-600">{{.congress}}</div>

		</li>



	{{ end }}
	</ul>
</div></div>



    <div class=" border rounded-md shadow-md p-8 bg-white ">
<div class="font-bold text-2xl py-4 text-tahiti" ><a href="/gr/papers-all">Scientific Αnnouncements</a></div>
<div class="list publications">


<ul>
{{ range first 5 ((index .Site.Data .Language.Lang).epistimonikes_anakoinoseis)  }}
		<li class="py-4">
            <div class="flex ">
			<div class="year pr-4 text-gray-600 font-bold ">{{.year}}</div>
			<div class="names text-gray-500">{{.names}}</div>
            </div>
			<div class="title font-bold text-xl py-1 text-tahiti">{{.title}}</div>
			
            <div class="publisher text-gray-600">{{.conference}}</div>

		</li>


	{{ end }}
	</ul>
</div></div>

</div>
{{ end }}