{{ define "main" }}

<div class="container mx-auto pb-16 ">
  <div class="border rounded-md shadow-md p-8 bg-white">
    <div class="font-bold text-2xl py-4 text-tahiti" id="books">Βιβλία</div>
    <div class="list publications ">
      <ul class="grid grid-cols-3 gap-8">
        {{ range ((index .Site.Data .Language.Lang).books) }}
        <li class="py-4">
          <div class="title font-bold text-xl text-tahiti">{{.title}}</div>
          <div class="flex flex-wrap">
            <div class="names w-full">{{.names}}</div>
            <div class="names pr-2">{{.year}}</div>
            <div class="names">{{.publisher}}</div>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

  <div class="container mx-auto pb-16 grid grid-cols-2 gap-8">
  <div class="border rounded-md shadow-md p-8 bg-white">
    <div class="font-bold text-2xl py-4 text-tahiti">Δημοσιεύσεις</div>
    <div class="list publications">
      <ul>
        {{ range first 5 ((index .Site.Data .Language.Lang).articles) }}
        <li class="py-4">
          <div class="flex">
            <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
            <div class="publisher text-gray-600">{{.publisher}}</div>
          </div>
          <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
          <div class="names text-gray-500">{{.names}}</div>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="flex justify-end">
      <a
        class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700"
        href="papers"
        >Περισσότερα</a
      >
    </div>
  </div>



  <div class="border rounded-md shadow-md p-8 bg-white">
    <div class="font-bold text-2xl py-4 text-tahiti">
      Επιστημονικές ανακοινώσεις
    </div>
    <div class="list publications">
      <ul>
        {{ range first 5 ((index .Site.Data .Language.Lang).anakoinoseis) }}
        <li class="py-4">
          <div class="flex">
            <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
            <div class="names text-gray-500">{{.names}}</div>
          </div>
          <div class="title font-bold text-xl py-1 text-tahiti">{{.title}}</div>

          <div class="publisher text-gray-600">{{.conference}}</div>
        </li>

        {{ end }}
      </ul>
    </div>
    <div class="flex justify-end">
      <a
        class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700"
        href="anakoinoseis"
        >Περισσότερα</a
      >
    </div>
  </div>


    <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">Μαραθώνιος</div>
        <div class="list publications">
        <ul>
            {{ range sort ((index .Site.Data .Language.Lang).articles) "tags" "asc"}}
            {{ if eq .tags "marathon"}}              
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        </div>
    </div>
    

                        <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">doping</div>
        <div class="list publications">
        <ul>
            {{ range sort ((index .Site.Data .Language.Lang).articles) "tags" "asc"}}
            {{ if eq .tags "doping"}}              
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        </div>
    </div>

    

    <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">Νεφρό</div>
        <div class="list publications">
        <ul>
            {{ range sort ((index .Site.Data .Language.Lang).articles) "tags" "asc"}}
            {{ if eq .tags "nephro"}}              
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        </div>
    </div>

        <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">athletes_screening</div>
        <div class="list publications">
        <ul>
            {{ range sort ((index .Site.Data .Language.Lang).articles) "tags" "asc"}}
            {{ if eq .tags "athletes_screening"}}              
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        </div>
    </div>

            <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">Cardiac_rehabilitation</div>
        <div class="list publications">
        <ul>
            {{ range sort ((index .Site.Data .Language.Lang).articles) "tags" "asc"}}
            {{ if eq .tags "Cardiac_Rehabilitation"}}              
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        </div>
    </div>

                <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">Rehabilitation</div>
        <div class="list publications">
        <ul>
            {{ range sort ((index .Site.Data .Language.Lang).articles) "tags" "asc"}}
            {{ if eq .tags "Rehabilitation"}}              
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        </div>
    </div>





</div>
{{ end }}
