{{ define "main" }}

{{/*  https://docs.google.com/spreadsheets/d/1_K5XRr95ua0ZMPfd_rgM-D2BHImntuRPHk3VdSvBqSE/edit#gid=1628392338  */}}
<div class="container mx-auto pb-16 ">
  <div class="border rounded-md shadow-md p-8 bg-white">
    <div class="font-bold text-2xl py-4 text-tahiti" id="books">Βιβλία</div>
    <div class="list publications ">
      <ul class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {{ range ((index .Site.Data .Language.Lang).books) }}
        <li class="py-4">
          <div class="title font-bold text-xl text-tahiti">{{.title}}</div>
          <div class="flex flex-wrap">
            <div class="names w-full">{{.names}}</div>
            <div class="names pr-2">{{.year}}</div>
            <div class="names">{{.publisher}}</div>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>


{{/*  LATEST  */}}
<div class="container mx-auto pb-16 ">
<div class="container mx-auto pb-16 ">
  <div class="border rounded-md shadow-md p-8 bg-white">
  <div id="publications" class="font-bold text-2xl py-4 text-tahiti">Δημοσιεύσεις - Πρόφατες (10)</div>
  <div class="list publications">
  <ul>
    {{ range  first 10 (where (sort ((index .Site.Data .Language.Lang).articles) "year" "desc") "year" "2022") }}
       
      <li class="py-4">
      <div class="flex">
          <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
          <div class="publisher text-gray-600">{{.publisher}}</div>
      </div>
      <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
      <div class="names text-gray-500">{{.names}}</div>
      </li>

      {{ end }}
  </ul>
  </div>
  <div class="flex justify-end">
    <a
      class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700"
      href="papers"
      >Δείτε τες όλες ανά έτος</a
    >
  </div>
</div>
</div>

{{/*  TAGS  */}}
{{/*  {{ $papers := slice }}
{{ range (index (index $.Site.Data .Language.Lang) "articles") }}
  {{ $papers = $papers | append .tags }}
{{ end }}
{{ $papers = uniq $papers }}

{{ with $papers }}
<div class="flex flex-wrap gap-4 mb-8">
{{ range $papers }}
{{ $paper := . }}
  <a class="text-lg px-4 py-2 border rounded-md shadow-md  bg-white text-tahiti hover:bg-blue-800 hover:text-white no-underline" href="#{{ $paper }}">{{ $paper }}</a>
{{ end}}
</div>
{{ end}}  */}}


{{/*  BY TAGS  */}}
  <div class="container mx-auto pb-16 grid grid-cols-1 md:grid-cols-2 gap-8">

  <div class="border rounded-md shadow-md p-8 bg-white">
    <div class="font-bold text-2xl py-4 text-tahiti">
      Επιστημονικές ανακοινώσεις
      {{$list := ((index .Site.Data .Language.Lang).anakoinoseis) }}
      {{$len2 := len $list }}
     ( {{ $len2 }})
    </div>
    <div class="list publications">
      <ul>
        
        {{ range first 5 ((index .Site.Data .Language.Lang).anakoinoseis) }}
        <li class="py-4">
          <div class="flex">
            <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
            <div class="names text-gray-500">{{.names}}</div>
          </div>
          <div class="title font-bold text-xl py-1 text-tahiti">{{.title}}</div>

          <div class="publisher text-gray-600">{{.conference}}</div>
        </li>

        {{ end }}
      </ul>
    </div>
    <div class="flex justify-end">
      <a
        class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700"
        href="anakoinoseis"
        >Περισσότερα</a
      >
    </div>
  </div>


    <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">Μαραθώνιος
          {{$list := (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "marathon")}}
          {{$len2 := len $list }}
         ( {{ $len2 }})
        </div>
        <div class="list publications">
        <ul>
          {{ range  first 5 (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "marathon") }}
             
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>

            {{ end }}
        </ul>
        </div>
        <div class="flex justify-end">
          <a
            class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700"
            href="marathonios"
            >Περισσότερα</a
          >
        </div>
    </div>
    

                        <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">Doping
          {{$list := (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "doping")}}
          {{$len2 := len $list }}
         ( {{ $len2 }})
        </div>
        <div class="list publications">
        <ul>
          {{ range  first 5 (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "doping") }}
        
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}
        </ul>
        </div>
        <div class="flex justify-end">
          <a
            class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700"
            href="doping"
            >Περισσότερα</a
          >
        </div>
    </div>

    

    <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">Νεφρό
          {{$list := (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "nephro")}}
          {{$len2 := len $list }}
         ( {{ $len2 }})
        </div>
        <div class="list publications">
        <ul>
          {{ range  first 5 (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "nephro") }}
            
            
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}
        </ul>
        </div>
        <div class="flex justify-end">
          <a
            class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700"
            href="nephro"
            >Περισσότερα</a
          >
        </div>
    </div>

        <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">Screening Αθλητών
          {{$list := (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "athletes_screening")}}
          {{$len2 := len $list }}
         ( {{ $len2 }})</div>
        <div class="list publications">
        <ul>
          {{ range  first 5 (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "athletes_screening") }}
            
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}

        </ul>
        </div>
        <div class="flex justify-end">
          <a
            class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700"
            href="athletes_screening"
            >Περισσότερα</a
          >
        </div>
    </div>

            <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">Cardiac Rehabilitation
          {{$list := (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "Cardiac_Rehabilitation")}}
          {{$len2 := len $list }}
         ( {{ $len2 }})
        </div>
        <div class="list publications">
        <ul>
          {{ range  first 5 (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "Cardiac_Rehabilitation") }}
            
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}

        </ul>
        </div>
        <div class="flex justify-end">
          <a
            class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700"
            href="cardiac_rehabilitation"
            >Περισσότερα</a
          >
        </div>
    </div>

                <div class="border rounded-md shadow-md p-8 bg-white">
        <div class="font-bold text-2xl py-4 text-tahiti">Rehabilitation
          {{$list := (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "Rehabilitation")}}
          {{$len2 := len $list }}
         ( {{ $len2 }})
        </div>
        <div class="list publications">
        <ul>
          {{ range  first 5 (where (sort ((index .Site.Data .Language.Lang).articles) "tags" "asc") "tags" "Rehabilitation") }}

           
            <li class="py-4">
            <div class="flex">
                <div class="year pr-4 text-gray-600 font-bold">{{.year}}</div>
                <div class="publisher text-gray-600">{{.publisher}}</div>
            </div>
            <div class="title font-bold text-xl py-1 text-tahiti"><a href="{{.link}}" target="_blank">{{.title}}</a></div>
            <div class="names text-gray-500">{{.names}}</div>
            </li>
            {{ end }}

        </ul>
        </div>
        <div class="flex justify-end">
          <a
            class="bg-indigo-800 px-8 py-4 text-white hover:bg-red-700"
            href="rehabilitation"
            >Περισσότερα</a
          >
        </div>
    </div>





</div>
{{ end }}
